let mapleader = " "
nnoremap <SPACE> <Nop>

vnoremap P "_dP

imap jk <Esc>

noremap E $
noremap Z i<Cr><Esc>

set backspace=indent,eol,start
noremap j gj
noremap k gk

set number
set relativenumber

set visualbell
set noerrorbells

set idearefactormode=keep
set ideajoin
set surround

map <Leader> <Plug>(easymotion-prefix)
set easymotion
