imap jk <Esc>
nnoremap <SPACE> <Nop>
let mapleader = " "
vnoremap p "_dP"
noremap E $
noremap j gj
noremap k gk

set backspace=indent,eol,start
set number
set relativenumber
set visualbell
set noerrorbells

set idearefactormode=keep
set ideajoin
set surround

map <Leader> <Plug>(easymotion-prefix)
set easymotion
